<%layout("./layouts/boilerplate.ejs")%>
<body class="showBody">
  <br />
  <h1><%= listing.title %></h1>

  <div class="card showCard">
    <img
      src="<%= listing.image %>"
      class="card-img-top showImage"
      alt="<%= listing.title %>"
    />
    <div class="card-body">
      <p class="card-text showText"></p>
      <h2>Location: <%=listing.location%></h2>
      <h2>Country: <%=listing.country%></h2>
      <h3>Price: ₹<%=listing.price.toLocaleString("en-IN") %></h3>
    </div>
  </div>

  <form class="showbtn" action="/listings/edit/<%=listing._id%>">
    <button class="btn btn-dark">Edit</button>
  </form>

  <form
    class="showbtn"
    method="post"
    action="/listings/delete/<%=listing._id%>?_method=delete"
  >
    <button class="btn btn-dark">Delete</button>
  </form>
</body>
