<%layout("./layouts/boilerplate.ejs")%>
<body>
    <h1><%= listing.title %></h1>
    <img src=<%= listing.image %> alt="">
    <br>
    <h2><%=listing.location%></h2>
    <h2><%=listing.country%></h2> 
    <p>Price : ₹<%=listing.price.toLocaleString("en-IN") %></p>
    <form action="/listings/edit/<%=listing._id%>" ><button >Edit</button></form>
    <form method="post" action="/listings/delete/<%=listing._id%>?_method=delete"><button>Delete</button></form>
</body>
